*{
    margin: 0;
    padding: 0;
}
.nav{
    width: 1000px;
    height: 50px;
    border: 1px solid blue;
    margin: 200px auto;
}
.nav ul{
    list-style: none;
}
.nav ul li{
    float: left;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.nav ul li a{
    display: block;
    width: 200px;
    height: 50px;
}
.nav ul li a:link , .nav ul li a:visited{
    text-decoration: none;
    /* 上句清除下划线 */
    background-color:black;
    color:white;
}
.nav ul li a:hover{
    background-color: blue;
}
.nav ul li a:active{
    background-color: blueviolet;
}